body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.nav-bar {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.nav-logo {
  font-size: 2rem;
  padding: 0;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  opacity: 0.7;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}
.nav-links a {
  color: #e5e5e5;
  text-decoration: none;
  text-decoration-color: #000;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.nav-links a:hover {
  color: #ccc;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 1rem 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
#profile1 {
  border-radius: 50%;
  border-radius: 40px;

  /* width: 23rem;
  height: 23rem; */
}

.section__pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.5rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  opacity: 0.92;
  margin-top: 0;
  /* margin-bottom: 2rem; */
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon,
portimg {
  cursor: pointer;
  height: 2rem;
  /* opacity: ; */
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  /* font-weight: normal; */
}
a .btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.portfolio-list {
  list-style: none;
  padding: 0;
}

.portfolio-list li {
  margin-bottom: 20px;
}

.portfolio-list img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

#about-me,
#skills {
  padding: 2rem 5rem;
  height: 50%;
}

#about,
#myskills {
  padding-left: 3rem;
}
.profileNdesc {
  display: flex;
  justify-content: space-between;
}

.about-img {
  padding-left: 3rem;
}

.about-img > img {
  width: 80%;
  border-radius: 15px;
}

.about-desc {
  text-align: justify;
}

#skills {
  height: 40vh;
}

.skill-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.item {
  display: inline-block;
  width: 5%;
  padding: 1rem;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 10px 12px 1px 1px #00000060;
}
.item > img {
  width: 100%;
}

.hovered {
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease-in-out;
}

/* Optional: Responsive layout adjustments */
@media screen and (max-width: 600px) {
  .nav-links li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  section {
    margin-bottom: 10px;
  }
}
